

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

div.main-content {
	height: 450px;
	background: #efefef;
	padding: 15px;
}

div#description {
	background: #efefef;
}















